name: pull-request
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - uses: golangci/golangci-lint-action@v2
      with:
        skip-cache: true
        skip-pkg-cache: true
        skip-build-cache: true

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
